body {
    font-family: 'Montserrat', sans-serif;
    margin: auto;
}
h1 {
    text-transform: uppercase;
    font-weight: 900;
    font-size: 4em;
    text-align: center;
    margin: 0 0 30px 0;
}
h2{
    font-size: 25px;
    font-weight: 900;
}
h3{
    font-weight: 900;
}
a {
    padding: 15px;
}
.bouton {
    border-radius: 50px;
    border:1px solid white;
    margin: 15px;
}
.bouton:hover {
    background-color: rgba(255, 255, 255, 0.5);
    color: rgba(17,67,87, 1);
}
.image {
    width: 200px;
    height: 200px;
    margin-right: 30px;
}
.material-icons {
    font-size: 50px;
    margin-right: 15px;
    font-weight: 300;
}

/*DESKTOP*/

/*HEADER*/

header {
    background: linear-gradient(to right, rgba(242, 148, 146, 0.9) 35%, rgba(59, 188, 240, 0.9)), url(./img/03-Montre-560x420.jpg);
    background-size: cover;
    background-position: center;
    object-fit: contain;
    height: 500px;
    border-bottom-left-radius: 50px;
    border-bottom-right-radius: 50px;
    color: white;
}
#lignehaut {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1060px;
    margin: auto;
    font-size: 20px;
}
#lignehaut a:hover {
    color: rgba(17,67,87, 1);
}
#burger {
    display: none;
} 
#titreheader {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 75px;
}
#titreheader h2 {
    font-weight: 400;
    margin: 0;
}

/* SECTION 1*/

#reve {
    max-width: 1060px;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 50px;
}

/*SECTION 2*/

#quitter {
    max-width: 1060px;
    box-shadow: 0px 0px 7px rgba(17,67,87, 0.5);
    margin: auto;
    padding: 30px 10px;
    border-radius: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
}
#carre {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 20px;
}
#quitter h2 {
    color: rgb(242, 148, 146);
    margin-bottom: 0;
}

/*SECTION 3*/

#fonction {
    max-width: 1060px;
    margin: auto;
    margin-top: 100px;
}
#fonction div {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 50px 0;
}
#fonction div:nth-child(odd) {
    flex-direction: row-reverse;
}
#fonction div:nth-child(odd) img {
    margin-right: 0;
    margin-left: 30px;
}
#fonction h2 {
    text-align: center;
    margin-bottom: 70px;
}
#fonction h2::after {
    display: block;
    border-radius: 50px;
    width: 400px;
    height: 20px;
    background-color: rgba(242, 148, 146, 0.5);
    content: " ";
    position: relative;
    top: -11px;
    right: -383px;
}
#fonction h2::before {
    display: block;
    border-bottom-left-radius: 50px;
    border-bottom-right-radius: 50px;
    border-top-right-radius: 50px;
    width: 175px;
    height: 20px;
    background-color: rgba(17,67,87, 0.7);
    content: " ";
    position: relative;
    bottom: -60px;
    right: -686px;
    z-index: 1;
}

/*SECTION 4*/

#appli {
    max-width: 1060px;
    box-shadow: 0px 0px 7px rgba(17,67,87, 0.5);
    margin: auto;
    padding: 10px 20px;
    border-radius: 50px;
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
    align-items: center;
    margin-top: 125px;

}
#appli img {
    object-fit: contain;
    height: 400px;
    margin-top: -75px;
}
#appli h2 {
    color: rgba(242, 148, 146, 1);
    margin: 0;
}
#appli p {
    margin-top: 15px;
}
#appli .bouton {
    background-color: rgba(242, 148, 146, 1);
    margin-left: 0;
}
#appli .bouton:hover {
    background-color: rgba(242, 148, 146, 0.5);
}
/*FOOTER*/

footer {
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(to right, rgba(242, 148, 146, 1) 35%,#3BBCF0);
    border-top-right-radius: 50px;
    border-top-left-radius: 50px;
    height: 125px;
    margin-top: 100px;
    color: white;
}

/*RESPONSIVE TABLETTE*/

@media screen and (min-width: 768px) and (max-width: 990px) {
    /*MENU BURGER*/
    header .bouton {
        display: none;
    }
    header a img {
        margin-bottom: 13px;
        margin-left: 20px;
    }
    #lignehaut {
        display: block;
        position: relative;
        padding: 20px 0;
    }
    #burger {
        display: block;
        appearance: none;
        -moz-appearance: none;
        -webkit-appearance: none; 
        font-family: 'Material Icons';
        color: white;
        position: absolute;
        top: 28px;
        right: 15px;
        padding-bottom: 15px;
    }
    nav {
        display: none;
    }
    #burger::before {
        content: 'menu';
    }
    #burger:checked::before {
        content: 'close';
    }
    #burger:checked ~ nav  {
        display: block;
    }
    #burger:checked ~ nav > a {
        display: flex;
        flex-direction: column;
        width: 100%;
        justify-content: center;
        align-items: center;
        padding: 24px;
        font-size: 32px;
        color: white;
        border-top: 1px solid rgba(17,67,87, 0.3);
    }
    #burger:checked ~ nav > a:hover {
        background-color: rgba(255, 255, 255, 0.5);
    }

    /*SECTIONS*/

    #reve, #quitter, #appli, #fonction {
        width: 95%; 
    }
    #fonction div:nth-child(odd) {
        flex-direction: row;
    }
    #fonction div:nth-child(odd) img {
        margin-right: 30px;
        margin-left: 0;
    }
    #fonction h2::after {
        position: relative;
        right: -220px;
    }
    #fonction h2::before {
        position: relative;
        right: -522px;
    }
    #quitter #carre {
        justify-content: space-around;
        align-items: baseline;
    }
    #quitter #carre article {
        width: 24%;
    }
    #appli article {
        padding: 45px 15px;

    }
    #appli img {
        display: none;
    }
}

/*RESPONSIVE MOBILE*/

@media screen and (max-width: 767px) {
    .image {
        margin: 0;
        height: 225px;
        width: 225px;
        object-fit: cover;
    }
    h1 {
        font-size: 32px;
    }
    header h2 {
        font-size: 23px;
        text-align: center;
        font-weight: 300 !important;
    }

    /*MENU BURGER*/

    header .bouton {
        display: none;
    }
    header a{
        padding: 2px;
    }
    header a img {
        margin-bottom: 37px;
        object-fit: cover;
        width: 125px;
        margin-left: 20px;
    }
    #lignehaut {
        display: block;
        position: relative;
        padding: 20px 0;
    }
    #burger {
        display: block;
        appearance: none;
        -moz-appearance: none;
        -webkit-appearance: none; 
        font-family: 'Material Icons';
        color: white;
        position: absolute;
        top: 11px;
        right: 2px;
        padding-bottom: 15px;
    }
    nav {
        display: none;
    }
    #burger::before {
        content: 'menu';
    }
    #burger:checked::before {
        content: 'close';
    }
    #burger:checked ~ nav  {
        display: block;
    }
    #burger:checked ~ nav > a {
        display: flex;
        flex-direction: column;
        width: 100%;
        justify-content: center;
        align-items: center;
        padding: 27px;
        font-size: 28px;
        color: white;
        border-top: 1px solid rgba(17,67,87, 0.3);
    }
    #burger:checked ~ nav > a:hover {
        background-color: rgba(255, 255, 255, 0.5);
    }

    /*SECTIONS*/

    #reve, #quitter, #appli, #fonction {
        width: 95%; 
    }
    #reve {
        flex-direction: column;
        
    }
    #quitter #carre {
        flex-direction: column;
        justify-content: center;
    }
    #quitter #carre article {
        width: 100%;
        margin: 15px 0;
    }
    #quitter #carre article > img {
        height: 75px;
        width: 75px;
        object-fit: cover;
    }
    #quitter h2 {
        text-align: center;
    }
    #fonction div {
        flex-direction: column;
    }
    #fonction div:nth-child(odd) {
        flex-direction: column;
    }
    #fonction div:nth-child(odd) img {
        margin-right: 30px;
        margin-left: 0;
    }
    #fonction h2::after {
        position: relative;
        right: -51px;
        width: 230px;
    }
    #fonction h2::before {
        position: relative;
        right: -132px;
        bottom: -100px;
        width: 168px;
    }
    #appli {
        flex-direction: column;
    }
    #appli article {
        display: flex;
        flex-direction: column;
    }
    #appli article .bouton {
        margin-top: 0;
    }
}